version: "3"
services:
  exp:
    build:
      context: .
      args:
        build_date: ""
        build_base_image: $BASE_IMAGE
        build_distro_version: $XP_VERSION
    restart: always
    deploy:
      resources:
        limits:
          cpus: "2.00"
          memory: "1024M"
    ports:
      - "1099:1099"
      - "2609:2609"
      - "3000:3000" # Profiling test
      - "3001:3001" # Profiling test
      - "4848:4848"
      - "5005:5005" # Remote debugging test
      - "8080:8080"
    environment:
      TAKE_FILE_OWNERSHIP: 0
      JAVA_OPTS: "-XX:+CMSParallelRemarkEnabled -XX:+UseCMSInitiatingOccupancyOnly -XX:CMSInitiatingOccupancyFraction=60 -XX:+ScavengeBeforeFullGC -XX:+CMSScavengeBeforeRemark -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=3000 -Dcom.sun.management.jmxremote.rmi.port=3001 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Djava.rmi.server.hostname=127.0.0.1 -Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=*:5005"
      SU_PASS_HASH: "5b722b307fce6c944905d132691d5e4a2214b7fe92b738920eb3fce3a90420a19511c3010a0e7712b054daef5b57bad59ecbd93b3280f210578f547f4aed4d25"
    volumes:
      - repo_index:/enonic-xp/home/repo/index
      - repo_blob:/enonic-xp/home/repo/blob
      - snapshots:/enonic-xp/home/snapshots
      - work:/enonic-xp/home/work
      #- ./mounts/data:/enonic-xp/home/data
      - ./mounts/config:/enonic-xp/home/config:ro
    user: "1000"
    labels:
      io.enonic.backup.prescripts: "/usr/local/bin/backup.sh"
volumes:
  repo_index:
    labels:
      io.enonic.backup.data: true
  repo_blob:
    labels:
      io.enonic.backup.data: true
  snapshots:
    labels:
      io.enonic.backup.data: true
  work:
